*.py[cod]

# C extensions
*.so

# Packages
.cache
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
unittests.xml
cover/
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Idea
.idea

# Sphinx docs
docs/_build

# Project specifics
venv
VERSION

# Misc tools
.hypothesis/
.mypy_cache/
.pytest_cache/
